/**{*/
/*    -fx-text-fill: yellow;*/
/*}*/
/*.table-view{*/
/*    -fx-background-color: black;*/
/*}*/
/*.table-view .table-row-cell {*/
/*    -fx-background-color: black;*/
/*}*/
/*.table-view .table-row-cell:selected {*/
/*    -fx-background-color: white;*/
/*}*/
/*.my{*/
/*    -fx-background-color: black;*/
/*}*/
/*.tab-pane{*/
/*    -fx-background-color: black;*/
/*}*/
/*.label{*/
/*    -fx-background-color: black;*/
/*}*/
/*.button{*/
/*    -fx-text-fill: black;*/
/*}*/
/*.combo-box .list-view .list-cell{*/
/*    -fx-text-fill: black;*/
/*}*/
/*.combo-box .list-view .list-cell:hover{*/
/*    -fx-text-fill: yellow;*/
/*}*/
/*.combo-box .cell{*/
/*    -fx-text-fill: black;*/
/*}*/

.my{
    -fx-background-color: black;

}
.tab-pane{
    -fx-background-image: url(be2.png);
}
.my .label{
    -fx-text-fill: white;
}
.table-view{
    -fx-background-image: url(allBand.jpg);
}
.be1{
    -fx-background-image: url(be1.png);
}
.be1 .label{
    -fx-text-fill: black;
    -fx-background-color: white;
}
.be2{
    -fx-background-image: url(be2.png);
}
.be2 .label{
    -fx-text-fill: black;
    -fx-background-color: white;
}
.be3{
    -fx-background-image: url(be3.png);
}
.be4{
    -fx-background-image: url(be4.png);
}
