*{
    -fx-text-fill: red;
}
.table-view{
    -fx-background-color: green;
}
.table-view .table-row-cell {
    -fx-background-color: green;
}
.table-view .table-row-cell:selected {
    -fx-background-color: white;
}
.my{
    -fx-background-color: green;
}
.tab-pane{
    -fx-background-color: green;
}