*{
    -fx-text-fill: yellow;
}
.table-view{
    -fx-background-color: black;
}
.table-view .table-row-cell {
    -fx-background-color: black;
}
.table-view .table-row-cell:selected {
    -fx-background-color: white;
}
.my{
    -fx-background-color: black;
}
.tab-pane{
    -fx-background-color: black;
}
.label{
    -fx-background-color: black;
}
.button{
    -fx-text-fill: black;
}
.combo-box .list-view .list-cell{
    -fx-text-fill: black;
}
.combo-box .list-view .list-cell:hover{
    -fx-text-fill: yellow;
}
.combo-box .cell{
    -fx-text-fill: black;
}
